body {
    background-image: url("https://github.com/CBArgento/Psychic-Game/blob/master/assets/images/psychic.jpg?raw=true");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1950px 1200px;
    padding: 10px;
  }


h3 {
    background: gray;
    padding: 10px;
    margin: 15px;
}

.answers {
    padding: 50px;
}

.answersbox {
    background: lightblue;
    margin: 120px;
}

.title {
    padding: 10px;
    color: white;
}

.guess {
    color: white;
    padding-right: 20px;
}